$typeface: avenir-next;

// Primary Colors
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

// Secondary Colors
$brainflix-DarkBlack: #000000;
$brainflix-DarkBlue: #0065AD;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// Padding 
$padding__before-head--tablet: 2.25rem;
$padding__after-head--tablet: 1.5rem;
$padding__btwn-comps--tablet: 1.5rem;
$padding__before-head--mobile: 1.5rem;
$padding__after-head--mobile: 1rem;
$padding__btwn-comps--mobile: 1rem;