@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
    background-color: $white;

    &-eq {
        @include desktop {
            @include row;
            align-items: flex-start;
        }
    }

    &-section {
        @include desktop {
            width: 64.4%;
            @include column;
            border-right: 0.09rem solid $mercury;
        }
    }
}
