@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

body {
  @include font;
  font-family: avenir-next, Avenir, Arial, Helvetica, sans-serif;
}

.header {
  @include column;
  background-color: $white;
  width: 100%;

  &__eq {
    @include column;
    width: 100%;
    padding: 0.8rem 0 $padding__after-head--mobile;

    @include tablet {
      @include row;
      width: 91%;
      justify-content: space-between;
      max-width: 110.4vh;
      padding: 0;
    }
  }

  &__logo {
    height: 1.5625rem;
    width: 7.5rem;

    @include tablet {
      width: 7.2rem;
    }
  }

  &__right {
    @include column;
    width: 90%;

    @include tablet {
      @include row;
      width: 71%;
      max-width: 54vh;
    }

    @include desktop {
      max-width: 32.7rem;
    }

    &-box-user {
      @include row;
      justify-content: space-between;
      width: 100%;
      padding: $padding__after-head--mobile 0rem;
    }
  }
  &__user {
    &--mobile {
      @include user;
      // margin-left: 1rem;

      @include tablet {
        display: none;
      }
    }
    &--tablet {
      display: none;

      @include tablet {
        display: block;
        @include user;
        margin-left: 1.2rem;
      }
    }
  }

  &__form {
    @include row;
    width: 100%;
    position: relative;
    right: 1rem;

    @include tablet {
      position: static;
      right: 0;
    }

    &-magnifying-glass {
      width: 1rem;
      position: relative;
      left: 1.72rem;

      @include tablet {
        width: 1.1rem;
      }
    }

    &-box {
      @include input-box;
      height: 12vh;
      width: 100%;
      padding-left: 2.2rem;
      max-height: 1.8rem;

      @include tablet {
        width: 12.4rem;
      }

      @include desktop {
        width: 22.4vh;
      }
      &::placeholder {
        font-family: avenir-nexr, avenir, Arial, Helvetica, sans-serif;
        color: $brainflix-black;

        @include tablet {
          @include label--tablet;
          font-weight: 500;
        }
      }
    }
  }

  &__button {
    @include button--mobile;
    @include label--mobile;
    font-size: 0.78rem;
    padding: 1rem 0.48rem;
    @include row;
    justify-content: flex-start;

    @include tablet {
      width: 17rem;
    }

    @include desktop {
      margin-right: 1rem;
    }

    &-eq {
      @include row;
      justify-content: space-between;
      width: 60%;

      @include tablet {
        width: 6.2rem;
      }
    }

    &-icon {
      width: 1.32rem;
      left: 2rem;
    }
  }
}

.main {
  background-color: $white;

  &-eq {
    @include desktop {
    @include row;
    align-items: flex-start;
  }
}

  &-section {
    @include desktop {
      width: 64.4%;
      @include column;
      border-right: .09rem solid $mercury;
    }
  }
}

.video {
  @include column;
  height: 60vw;

  @include tablet {
    @include column;
    height: 51vw;
    max-height: 30rem;
  }

  &-eq {
    width: 100%;

    @include tablet {
      background-color: $brainflix-DarkBlack;
      @include column;
      border: 0;
    }
  }

  &-vid {
    width: 100%;
    background-color: $brainflix-DarkBlack;

    @include tablet {
      width: 90%;
      height: 51vw;
      max-height: 30rem;
      max-width: 91.6vh;
    }
  }

  &-controls {
    position: relative;
    width: 90%;
    bottom: 2rem;
    @include row;
    justify-content: space-between;

    @include tablet {
      bottom: 2.8rem;
    }

    @include tablet {
      width: 87.6%;
      max-width: 88vh;
    }

    &__play {
      @include controls;
      height: 5.4vw;
      max-height: 1.2rem;
      padding: 0 0.6rem;

      @include tablet {
        max-width: 5vh;
        max-height: 2rem;
        @include row;
      }

      &-icon {
        width: 2vw;
        max-height: 0.68rem;
        cursor: pointer;

        @include tablet {
          width: 3vw;
          max-height: 0.8rem;
        }
      }
    }

    &__eq {
      @include row;
      justify-content: center;
      width: 100%;
    }

    &__scrub {
      @include row;
      @include controls;
      justify-content: space-between;
      padding: 0 0.48rem;
      width: 88%;
      cursor: pointer;

      @include tablet {
        height: 2rem;
        width: 94%;
        justify-content: center;
      }

      &ber {
        width: 100%;

        @include tablet {
          width: 87%;
        }

        &::-webkit-slider-runnable-track {
          background: $brainflix-DarkBlack;
          height: 0.2rem;
        }
        &::-webkit-slider-thumb {
          background-color: $white;
          margin-top: -0.4rem;
          width: 1rem;
          cursor: pointer;
        }
      }

      &-time {
        color: $silver;
        margin: 0;
        @include label--mobile;
        padding-left: 0.4rem;
        font-size: 0.5rem;

        @include tablet {
          padding-left: 0.84rem;
        }
      }
    }

    &__right {
      @include row;
      @include controls;
      justify-content: space-between;
      width: 16vw;
      max-width: 3.4rem;
      padding: 0rem 0.32rem;
      height: 2.2vh;

      @include tablet {
        height: 2rem;
        max-width: 4.1rem;
        justify-content: space-evenly;
      }

      &-link {
        height: 5.4vw;
        max-height: 1.2rem;
        @include row;
        width: 1rem;

        @include tablet {
          width: 2rem;
        }
      }

      &-expand {
        width: 4.4vw;
        max-height: 1rem;

        @include tablet {
          width: 2rem;
          max-height: 1.4rem;
        }
      }

      &-volume {
        width: 4.4vw;
        max-height: 1rem;

        @include tablet {
          max-height: 1.4rem;
        }
      }
    }
  }

  &-info {
    @include column;
    
    @include desktop {
      align-self: flex-end;
      width: 84%
    }

    &__eq {
      @include column;
      width: 90%;

      @include desktop {
        width: 100%;
      }
    }

    &__head {
      margin: 0;
      padding-bottom: 0.92rem;
      align-self: flex-start;

      @include tablet {
        @include page-head--tablet;
        padding: 1.5rem 0 0;
      }
    }

    &__legend {
      @include row;
      width: 100%;
      justify-content: space-between;
      border-bottom: 0.0625rem solid $mercury;
      border-top: 0.0625rem solid $mercury;
      padding: $padding__btwn-comps--mobile 0 $padding__btwn-comps--mobile;

      @include tablet {
        border-top: 0;
        padding: 0.6rem 0 0.4rem;
      }

      &-left {
        @include column;

        @include tablet {
          @include row;
          justify-content: space-between;
          width: 20vh;
        }

        &-author {
          @include subhead--mobile;
          margin: 0;
          padding-bottom: 0.8rem;

          @include tablet {
            padding-bottom: 0;
            @include subhead--tablet;
          }
        }

        &-date {
          text-align: left;
          @include body--mobile;
          color: silver;
          font-weight: 600;
          margin: 0;

          @include tablet {
            font-weight: 500;
          }
        }
      }

      &-right {
        @include column;

        @include tablet {
          @include row;
          justify-content: space-between;
          width: 20vh;
        }

        @include desktop {
          padding-right: 1.5rem;
        }

        &-views {
          @include row;
          margin: 0;
          padding-bottom: 0.8rem;

          @include tablet {
            padding-bottom: 0;
          }

          &-img {
            padding-right: 0.48rem;
          }

          &-count {
            @include body--mobile;
            color: silver;
            font-weight: 600;

            @include tablet {
              @include label--tablet;
              font-weight: 500;
            }
          }
        }

        &-likes {
          @include row;
          margin: 0;

          &-img {
            padding-right: 0.48rem;
          }

          &-count {
            @include body--mobile;
            color: silver;
            font-weight: 600;

            @include tablet {
              @include label--tablet;
              font-weight: 500;
            }
          }
        }
      }
    }

    &__paragraph {
      @include body--mobile;

      @include tablet {
        @include body--tablet;
        margin-top: 1.5rem;
      }

      @include desktop {
        width: 96%;
        align-self: flex-start;
      }
    }
  }
}

.comments {
  @include column;
  margin-bottom: 1rem;

  @include tablet {
    margin-bottom: $padding__btwn-comps--tablet;
  }

  @include desktop {
    align-self: flex-end;
    width: 84%;
    align-items: flex-start;
  }

  &__eq {
    width: 90%;

    @include desktop {
      @include column;
      align-items: flex-start;;
      width: 100%;
    }
  }

  &__counter {
    @include subhead--mobile;

    @include tablet {
      @include subhead--tablet;
    }
  }

  &-add {
    border-bottom: $mercury 0.1rem solid;

    @include tablet {
      padding-bottom: 0.6rem;
    }

    @include desktop {
      width: 98.6%;
      align-self: flex-end;
      border-bottom: 0;
    }

    &__all {
      @include row;
      justify-content: space-between;
      padding: 0 0 $padding__btwn-comps--mobile;

      @include desktop {
        width: 96%;
      }
    }

    &__img {
      @include user;
      align-self: flex-start;
      margin-top: 1rem;
      margin-right: 1rem;

      @include tablet {
        margin-right: 1.2rem;
        margin-top: 1.2rem;
      }
    }

    &__text {
      width: 100%;

      @include desktop {
        width: 88.8%;
      }

      &-title {
        @include subhead--mobile;
        color: $silver;
        margin: 0;
        padding-bottom: 0.2rem;
      }

      &-form {
        @include column;
        width: 100%;

        @include tablet {
          @include row;
          justify-content: space-between;
        }
      }
      &-box {
        @include input-box;
        width: 94%;
        height: 38vh;
        margin-bottom: 1rem;
        max-height: 6rem;
        padding-left: 1rem;

        @include tablet {
          height: 3vh;
          margin-bottom: 0;
          width: 86%;
        }

        &::placeholder {
          font-family: avenir-nexr, avenir, Arial, Helvetica, sans-serif;
          color: $brainflix-black;
        }
      }
      &-button {
        @include button--mobile;
        @include row;
        @include label--mobile;
        font-size: 0.8rem;
        width: 100%;
        padding: 0;
        justify-content: flex-start;

        @include tablet {
          width: 17vh;
          min-width: 17vh;
          margin-left: 1.52rem;
        }

        @include desktop {
          width: 16vh;
          min-width: 16vh;
        }

        &-eq {
          @include row;
          justify-content: space-between;
          width: 64%;

          @include tablet {
            width: 12.4vh;
            padding-left: 0.1rem;
          }

          @include tablet {
            width: 12vh;
          }
        }

        &-icon {
          width: 1.2rem;
          left: 2rem;
          margin: 0 0.6rem;
        }
      }
    }
  }

  &-old {
    border-bottom: 0.1rem solid $mercury;
    padding-top: 1rem;

    @include tablet {
      padding: $padding__btwn-comps--tablet 0 $padding__btwn-comps--tablet;
    }

    @include desktop {
      border-bottom: 0;
      border-top: 0.1rem solid $mercury;
      @include row;
      justify-content: flex-end;
    }

    &__eq {
      @include row;
      align-items: flex-start;
      justify-content: space-between;

      @include desktop {
        width: 98.4%;
      }
    }

    &__img {
      @include user;
    }
    &__text {
      width: 100%;
      padding-left: $padding__btwn-comps--mobile;

      @include desktop {
        width: 85.6%;
        padding-right: 1.5rem;
      }

      &-top {
        @include row;
        justify-content: space-between;

        &-name {
          margin: 0;
          @include subhead--mobile;

          @include tablet {
            @include subhead--tablet;
          }
        }

        &-date {
          margin: 0;
          @include body--mobile;
          color: $silver;

          @include tablet {
            @include body--tablet;
          }
        }
      }

      &-comment {
        @include body--mobile;

        @include tablet {
          margin-bottom: 0;
          @include body--tablet;
        }
      }
    }
  }
}

.other {
  @include column;
  padding-bottom: $padding__btwn-comps--mobile;

  &__all {
    @include column;
    align-items: flex-start;
    width: 90%;
    padding-bottom: $padding__btwn-comps--tablet;

    @include desktop {
      padding-top: $padding__btwn-comps--tablet;
      padding-left: 1rem;
    }
  }
  &__head {
    @include subhead--mobile;
    color: $silver;
    margin: 0;
    padding: 0.3rem 0 $padding__after-head--mobile;

    @include tablet {
      padding-bottom: $padding__after-head--tablet;
      @include label--tablet;
    }

    @include desktop {
      padding-bottom: 1rem;
    }
  }
  &__one {
    @include row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-bottom: $padding__btwn-comps--mobile;

    @include tablet {
      justify-content: flex-start;
      padding-bottom: $padding__btwn-comps--tablet;
    }

    &-preview {
      background-color: $mercury;
      border-radius: 0.25rem;
      width: 35%;
      height: 28vh;
      max-height: 18vw;

      @include tablet {
        width: 12vh;
        height: 7.12vh;
        max-width: 14vh;
        max-height: 10vw;
        margin-right: 1rem;
        margin-top: .2rem;
      }

      @include desktop {
        max-width: 11.6vh;
        max-height: 7vh;
      }
    }
    &-text {
      width: 60%;
      @include column;
      align-items: flex-start;

      @include tablet {
        width: 18vh;
      }

      @include desktop {
        width: 20vh;
      }

      &-title {
        margin: 0;
        @include subhead--mobile;
        padding-bottom: 0.4rem;

        @include tablet {
          @include subhead--tablet;
        }
      }
      &-creator {
        margin: 0;
        @include body--mobile;
      }
    }
  }
}
